body {
    background-color:lightgray;
}
#game1 {
    width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
    float:left;
    border-radius:40%;
}
#game2{
    width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
    float:left;
    clear:both;
    border-radius:40%;
}
#game3{
    width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
    float:right;
    border-radius:40%;
}
#game4{
     width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
    float:right;
    border-radius:40%;
}
#bg{
    margin-left:12%;
    margin-top: 7%;
     
    }
