/*CSS Goes Here*/
/*
<!-- Name: Ishan Sharma -->
<!-- Student ID: 300856455 -->
<!-- Name: Solanky Thareja -->
<!-- Student ID: 300869859 -->
<!-- Date: October 7,2016 -->
<!-- Online Game Tracker-->
*/

body {
    background-color: lightgray;
}

#game1 {
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
    margin-top:-50px;
    float: left;
    border-radius: 20%;
}

#game2 {
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
    margin-top:-17px;
    float: left;
    clear: both;
    border-radius: 20%;
}

#game3 {
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
    margin-top:-50px;
    float: right;
    border-radius: 20%;
}

#game4 {
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
    margin-top:-17px;
    float: right;
    border-radius: 20%;
}

#bg {
    margin-left: 14%;
    margin-top: 5%;
}

#is {
    width: 65px;
    height: 50px;
}

.btn.btn-circle {
    border-radius: 40px;
}

.btn.btn-outline {
    background-color: transparent;
}

#btn {
    border-radius: 50%;
    float: left;
    height: 40px;
}

#btn2 {
    float: right;
    border-radius: 50%;
    height: 40px;
}

.mena {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.award {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none; 
}

.a{
    color:white;
    text-decoration:none;
}

.h6{
    text-align:center;
}

