<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
<connectionStrings><add name="ModelConnection" connectionString="data source=comp229-f2016-is.database.windows.net;initial catalog=Comp229-006-GameTracker;persist security info=True;user id=IshanSolanky;password=Ishan$Solanky12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>